PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
DATABASE_URL="mysql://root:rootpassword@localhost:3306/careerprepster"
JWT_SECRET=super-secret-jwt-key-for-development-mode-only
JWT_EXPIRES_IN=7d

# -------------------------------------------------------------
# Google Gemini AI Configuration
# -------------------------------------------------------------
# 1. Put your Gemini API Key here (from https://aistudio.google.com/app/apikey)
GEMINI_API_KEY=YOUR_GCP_API_KEY_HERE

GEMINI_MODEL=gemini-3.6-flash

# Google OAuth Configuration
GOOGLE_CLIENT_ID=https://315289138109-sq41e07a4a9ts4c5513gi99godekgoa7.apps.googleusercontent.com